## Etherscan Notebook 

Looking at how to derive price for tokens and gas fees by pool.  Pool example can be found [here](https://app.uniswap.org/explore/pools/ethereum/0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640)

In [1]:
import requests
import os

import pandas as pd
import numpy as np
print(os.getcwd())

/Users/das/DATASCI210/arbitrage_playground/notebooks

In [2]:
# change the active path to the parent directory 
if True: 
    print("Moving active path to parent directory")
    os.chdir('..')
    print(os.getcwd())

Moving active path to parent directory
/Users/das/DATASCI210/arbitrage_playground

In [3]:
# import test code
from src.alchemyutils import alchemy_request, fetch_latest_block, merge_pool_data_v2

In [4]:
api_key = 'YOUR API HERE'
url = f'https://eth-mainnet.g.alchemy.com/v2/{api_key}'
print(url)

https://eth-mainnet.g.alchemy.com/v2/KM5cZFySSlNmnbX8vSUa2m_gE2zl0OHd

In [5]:
latest_block_number = fetch_latest_block(url)
LAST_60MIN_BLOCKS= int(np.floor(4 * 60))

Latest Block Number: 21585352

In [6]:
p0_address="0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"
p0 = alchemy_request(url, 
                    address=p0_address, 
                    blocks_to_look_back=LAST_60MIN_BLOCKS, 
                    latest_block=latest_block_number)

Found 155 Swap Transactions from 21585112 to 21585352
Time to fetch blocks: 0.13683724403381348

Latest Block Timestamp: 2025-01-09 03:12:23+00:00
Duration of Pool Data (in minutes): 48.8 minutes
Time to process 155 blocks: 2.978843927383423
Transactions Dataframe Created Successfully

In [7]:
p1_address="0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8"
p1 = alchemy_request(url, 
                    address=p1_address, 
                    blocks_to_look_back=LAST_60MIN_BLOCKS, 
                    latest_block=latest_block_number)

Found 11 Swap Transactions from 21585112 to 21585352
Time to fetch blocks: 0.1440110206604004

Latest Block Timestamp: 2025-01-09 02:58:35+00:00
Duration of Pool Data (in minutes): 26.6 minutes
Time to process 11 blocks: 0.4656808376312256
Transactions Dataframe Created Successfully

In [10]:
p0.head()

,transaction_hash,timestamp,sqrtPriceX96,tick,eth_price_usd,usdc_amount0,eth_amount1,liquidity,block_number,gas_price,gas_used,sender,recipient
0,0x0f9f78562a96ffaae3f50f17cc132671c4e2fa04fd3a...,2025-01-09 06:23:35+00:00,1373310324421383584629987966171332,195217,3328.294884,15.000000,-0.004505,7603809057890597992,21585112,5.378394,246252,0xa83ed0489b2c57e7f46aafd63ef654376236f388,0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad
1,0xd3ae3fed926bdfc6c98dcadb378e32dbe281265affb4...,2025-01-09 06:23:59+00:00,1373759384998869023541518297110501,195224,3326.119304,-142810.533006,42.943500,7557224643474005544,21585114,88.231567,302170,0x93793bd1f3e35a0efd098c30e486a860a0ef7551,0x68d3a973e7272eb388022a5c6518d9b2a2e66fbf
2,0x22d717f00df68790253f7b1ae07dbddc53955a916d25...,2025-01-09 06:24:11+00:00,1373992627629554360505911897630701,195227,3324.990146,-73986.889952,22.259114,7557224643474005544,21585115,26.211169,242170,0x3eff3dc5a4f5c65d28e88dc8fd22800979c9e7c6,0x68d3a973e7272eb388022a5c6518d9b2a2e66fbf
3,0xa609ac56d3718b2bea7cf2b119f9dbea6a5924431267...,2025-01-09 06:24:23+00:00,1374136498794463981127056573134644,195229,3324.293934,-45624.844602,13.730100,7557224643474005544,21585116,10.340688,242170,0xbbde9f0c24b6f59d7e828bb4e129992be0cdc237,0x68d3a973e7272eb388022a5c6518d9b2a2e66fbf
5,0x07a641a89f17f322b64adff3b4cdff8cedf1ff7fbbc8...,2025-01-09 06:24:23+00:00,1374133293375101800471366941522763,195229,3324.309443,1016.916365,-0.305751,7557224643474005544,21585116,3.402027,345174,0x42dd4269fe2faa8ea0072572d7ddac0f1b537af4,0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad

In [9]:
p0.dtypes

transaction_hash                 object
timestamp           datetime64[ns, UTC]
sqrtPriceX96                     object
tick                              int64
eth_price_usd                   float64
usdc_amount0                    float64
eth_amount1                     float64
liquidity                        object
block_number                      int64
gas_price                       float64
gas_used                          int64
sender                           object
recipient                        object
dtype: object

In [17]:
p0['gas_price'] * p0['gas_used'] / 1e9 * (p0['eth_price_usd'])

0       4.408128
1      88.677443
2      21.105570
3       8.324712
5       3.903707
         ...
245     5.546461
247     5.535443
248    21.413562
250     4.062883
252     7.328048
Length: 155, dtype: float64

In [9]:
p1.head()

,transaction_hash,timestamp,sqrtPriceX96,tick,eth_price_usd,usdc_amount0,eth_amount1,liquidity,block_number,gas_price,gas_used,sender,recipient
0,0x4ee367ef211f62fc0dbf7955eb9c4c86415f865e2d1d...,2025-01-09 04:12:47+00:00,1374141099168222523411754976427110,195229,3324.271676,-15691.339380,4.733413,1257603196207272563,21584462,7.902123,242126,0x93793bd1f3e35a0efd098c30e486a860a0ef7551,0x68d3a973e7272eb388022a5c6518d9b2a2e66fbf
1,0xe05e69b7aa2e832b31fe9dc44d943a8ed6e7f16e2277...,2025-01-09 04:14:35+00:00,1374892883879252132493061788155634,195240,3320.637279,-39650.463359,11.970000,1258783358697302753,21584471,4.249262,2267296,0x87f48f664b0135273f967eec06452fc69244a326,0x7d0ccaa3fac1e5a943c5168b6ced828691b46b36
2,0x9652e54c7fb991136926b5a4b5d3b7f1644480d554d1...,2025-01-09 04:14:59+00:00,1374893811284782537777052708389840,195240,3320.632799,-48.928537,0.014779,1258783358697302753,21584473,4.479480,343469,0x47add9a56df66b524d5e2c1993a43cde53b6ed85,0xdef1c0ded9bec7f1a1670819833240f027b25eff
3,0x9dc35a4eab7bb29682b673fe518fc51cfc77a2a7a344...,2025-01-09 04:15:11+00:00,1374917334874212319553321965513404,195241,3320.519174,-1241.047553,0.374869,1258783358697302753,21584474,4.639814,2811002,0xc7899ff6a3ac2ff59261bd960a8c880df06e1041,0x9008d19f58aabd9ed0d60971565aa8510560ab41
4,0xf9de458007d3e1a16d6076a68fe9a2889d8154202fe7...,2025-01-09 04:15:23+00:00,1374923047689514736680865000597135,195241,3320.491580,-301.387877,0.091039,1258783358697302753,21584475,6.344145,380333,0x51ed2cf92542cf537d16b59c35676a7ba26b4289,0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad

In [10]:
both_pools = merge_pool_data_v2(p0, 0.0005, p1, 0.003)
both_pools.head()

Are there any NaNs in the DataFrame? False

/Users/das/DATASCI210/arbitrage_playground/src/alchemyutils.py:687: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  both_pools = both_pools.ffill().reset_index(drop=True)

,time,timestamp,p1.transaction_time,p1.transaction_epoch_time,p1.t0_amount,p1.t1_amount,p1.t0_token,p1.t1_token,p1.tick,p1.sqrtPriceX96,...,p0.eth_price_usd,p0.transaction_fees_usd,p0.gas_fees_usd,p0.total_fees_usd,percent_change,total_gas_fees_usd,total_transaction_rate,total_transaction_fees_used,total_fees_usd,swap_go_nogo
30,2025-01-09 04:17:47+00:00,1.736396e+09,2025-01-09 04:15:23+00:00,1.736396e+09,-301.387877,0.091039,USDC,WETH,195241.0,1.374923e+33,...,3313.210186,0.079960,6.354711e-09,0.079960,-0.002198,1.436668e-08,0.0035,0.986841,0.986841,False
31,2025-01-09 04:17:47+00:00,1.736396e+09,2025-01-09 04:15:23+00:00,1.736396e+09,-301.387877,0.091039,USDC,WETH,195241.0,1.374923e+33,...,3312.661885,17.439392,5.645252e-09,17.439392,-0.002364,1.365723e-08,0.0035,18.346272,18.346272,False
32,2025-01-09 04:18:23+00:00,1.736396e+09,2025-01-09 04:15:23+00:00,1.736396e+09,-301.387877,0.091039,USDC,WETH,195241.0,1.374923e+33,...,3312.626084,1.138837,1.187882e-08,1.138837,-0.002374,1.989079e-08,0.0035,2.045717,2.045717,False
33,2025-01-09 04:18:59+00:00,1.736396e+09,2025-01-09 04:15:23+00:00,1.736396e+09,-301.387877,0.091039,USDC,WETH,195241.0,1.374923e+33,...,3313.359881,23.331950,9.159430e-09,23.331950,-0.002152,1.717140e-08,0.0035,24.238831,24.238831,False
34,2025-01-09 04:18:59+00:00,1.736396e+09,2025-01-09 04:15:23+00:00,1.736396e+09,-301.387877,0.091039,USDC,WETH,195241.0,1.374923e+33,...,3313.345758,0.449181,8.082814e-09,0.449181,-0.002157,1.609479e-08,0.0035,1.356062,1.356062,False

**Manual Example of creating the price in USD or ETH**.  <br> 

The example transaction can be found [here]( https://etherscan.io/tx/0x706a6106d21d668b23f7e708fc3db05d621477bacf202bd3f62d29e7f3772230).  Each row pulled as one element of the swap transaction (pair of two rows required for a swap). First we need to scale the token values for the swap to the token fraction (i.e. how much of each whole token) using a scaling factor which is specified in each row as 'tokenDecimal'.

In [70]:
# row to pick for the swap...used just for the example.
USDC_POSITION=0
ETH_POSITION=1

#Token Amounts
USDC_TOKENS  = int(df['value'].iloc[USDC_POSITION]) / 10**int(df['tokenDecimal'].iloc[USDC_POSITION])
ETH_TOKENS   = int(df['value'].iloc[ETH_POSITION]) / 10**int(df['tokenDecimal'].iloc[ETH_POSITION])

print(f"USDC Tokens in Swap (Tx: 0x...{df['hash'].iloc[USDC_POSITION][-4:]}): {USDC_TOKENS:.4f}")
print(f"ETH_TOKENS Tokens in Swap (Tx: 0x...{df['hash'].iloc[ETH_POSITION][-4:]}): {ETH_TOKENS:.4f}")

USDC Tokens in Swap (Tx: 0x...2230): 48446.7991
ETH_TOKENS Tokens in Swap (Tx: 0x...2230): 14.5084

**Get price per ETH**

To get an intuition for how this plays out with the pool.  To derive the price per ETH, you can device the USDC tokens by the ETH tokens to get an estimate, which marries up pretty close to market price estimates, which aggregate data from ratios like this from multiple holdings across the market.

In [62]:
print(f"Price of Ethereum in USD in this pool: ${USDC_TOKENS/ETH_TOKENS:.2f}")

Price of Ethereum in USD in this pool: $3339.22

**Get gas fees in ETH**

Gas fees for a transaction include all the 'work' done. There is a rate of fee per unit of work (i.e. gasPrice) and then there is the work done (i.e. gasUsed).  gasPrice and gasUsed is in gwei which is 1e9 of an ETH.  so to convert to eth, each value needs to be converted with the 1e9 scaling.

In [83]:
gas_price_eth_tokens_per_unit = int(df['gasPrice'].iloc[0])/GWEI_SCALER
gas_used_units = int(df['gasUsed'].iloc[0])
gas_fees_eth_tokens  = gas_price_eth_tokens_per_unit* (gas_used_units / GWEI_SCALER)
gas_fees_usdc_tokens = USDC_TOKENS / ETH_TOKENS * gas_fees_eth_tokens 
print(f"Gas Price in ETH per unit: {gas_price_eth_tokens_per_unit}")
print(f"Gas Used in GWEI units for Uniswap Transaction: {gas_used_units}")
print(f"Gas fees for this Transaction in ETH: {gas_fees_eth_tokens:.5f} (ETH)")
print(f"Gas fees for this Transaction in USDC: ${gas_fees_usdc_tokens:.2f} (USDC)")

Gas Price in ETH per unit: 5.737624595
Gas Used in GWEI units for Uniswap Transaction: 412794
Gas fees for this Transaction in ETH: 0.00237 (ETH)
Gas fees for this Transaction in USDC: $7.91 (USDC)